<div id="container">



    <div id="left">
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image src={{cakeArr.pic}}>
        </mat-card-content>
      </mat-card>
    </div>





    <div id="right">
      <h3>Cake Name</h3>
      <br><br>
      <h4>Price: {{cakeArr.price}} </h4>
      <br><br><br><br><br><br><br><br><br>
      <a routerLink="customized-cake-view" routerLinkActive="router-link-active" >
          <button type="button" id="add_to_cart_button" class="btn btn-info">Add to Cart</button>
          </a>
    </div>
</div>


