<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addPostModal">
           Birthday Cakes
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addCategoryModal">
            Wedding Cakes
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addUserModal">
           Anniversary Cakes
          </a>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addUserModal">
              Designer Cakes
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addUserModal">
             Special Occations 
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addUserModal">
             Other
            </a>
          </div>
        
      </div>
    </div>
  </section>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="./assets/birthday/cake1.jpg" alt="cake1" style="width:100%">
                <div class="container">
                  <h4><b>Name</b></h4> 
                  <div class="container row float-right" >
                   <div class="col-sm-3"><button type="button" class="btn btn-info"><i class="fas fa-cart-plus"></i></button></div>
                   <div class="col-sm-3"> <button type="button" class="btn btn-danger"><i class="fas fa-heart"></i></button> </div>
                  </div>
                 
                </div>
              </div>
        </div>
    </div>
</div>