<br><br><br>

<h4><b>Frosting</b></h4>

<mat-grid-list cols="6" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let fros of frosArr">
          <mat-card class="example-card"
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()">

          <mat-card-content>
            <img mat-card-image src = {{fros.fros_pic}}>

            <p>
              {{fros.fros_name}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button id={{fros.fros_pic}} mat-raised-button color="primary" (click)="startAnimation('swing')">SWING</button>
          </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>

