<h4><b>Topping</b></h4>

<mat-grid-list cols="6" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let top of topArr">
      <!-- <mat-card class="example-card"
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()">

      <mat-card-content>
        <img mat-card-image src="https://media.mnn.com/assets/images/2015/10/NutellaHazelnutSpread.jpg.495x0_q80_crop-smart.jpg">

      <p>
          Nutella
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (tap)="startAnimation('swing')">SWING</button>
    </mat-card-actions>
  </mat-card> -->


  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{top.top_pic}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{top.top_name}}</h5>
        <h4>{{top.top_price}}</h4>
        <p class="card-text">
          Mouth watering goodness of nutella.
        </p>
        <a  class="btn btn-primary" (click)="sTopping(top.top_name)"><font color="white">Get this...</font></a>
      </div>
    </div>
</mat-grid-tile>
</mat-grid-list>
