
<div class="row">
  <div class="col-xs-12">
    <img [src]="cake.imagePath" alt="{{cake.name}}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ cake.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Cake <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditCake()">Edit Cake</a></li>
        <li><a style="cursor: pointer;"(click)="onDeleteCake()">Delete Cake</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{cake?.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let feature of cake.features">{{feature.feature}}</li>
    </ul>
  </div> 
</div>